.DS_Store
/.build
/build
/Packages
Resources/AppIcon.iconset/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Web
web/node_modules/
web/dist/
web/.astro/
